<h1>Uesr index</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
      <% if already_followed(user) %>
        <%= link_to  "取消追蹤", user_follows_path(user), method: :delete %>
      <% else %>
        <%= link_to  "追蹤", user_follows_path(user), method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>